.custom-lime {
    background-color: limegreen;
    color:white
  }

  .effect {
    background-image: url("../assets/journeyman-services.jpeg");
    background-repeat: round;
    height: 100vh;
  }

  .top {
    padding:10rem;
  }
  
  .tiny-line {
    background-color: white;
    height: 3px;
    border: none;
    margin: 5px 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: limegreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .opa-overlay {
    opacity: 50%;
  }
  